.navbar{
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width:100%;
    height: 44px;
    padding:0px 0px;
    

    border-top: 1px solid #dbdbdb;
    background-color: #fff;
}

.navItem {
  
  background-color: #ffffff; /* Green */
  width: 20%;
  height: 100%;


}
.navItem Link{
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #ffffff; /* Green */
    width: 100%;
    height: 100%;
    border: none;
    transition-duration: 0.4s;
    outline: none;
    cursor:pointer;

    
}
.navItem img{
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #ffffff; /* Green */
    width: 100%;
    height: 100%;
    border: none;
    transition-duration: 0.4s;
    outline: none;
    cursor:pointer;

    
}

  .navItem img:hover {
    color: black;
    background-color: rgb(205, 248, 255);
  }